/* FONTES*/
*{
    margin: 0px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: white;
}
/* LINKS */
a:link 
{ 
 text-decoration:none;
}
a {
    color: #fff;
 }
 /* link que foi visitado */
 a:visited {
     color: #ffff;
 }
 /* quando o ponteiro do mouse passa no link */
 a:hover {
     color: #fff;
 }
 /* quando o link for selecionado */
 a:active {
     color: #fff;
 }
/* CHAT */
#chat{
    float: right;
}
#img-chat{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

@media only screen and (min-width : 1024px) {
    /* CABEÇALHO*/
    header{
        background: #FF5A00;
        width: 100%;
        height: 80px;
    }

    .logo-smiles{
        text-align: left;
        padding: 20px;
        width: 100px;
        margin-left: 50px;
    }

    #menu-top{
        display: inline-flex;
        flex-direction: row;
        float: right;
        margin-right: 100px;
        color: white;
        list-style-type: none;
        padding: 10px;
    }
    .menu-top{
        margin: 20px;
    }
    #menu-entrar{
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
    }

    /* CAPA HEADER */
    #capa-header{
        background-image: url('./assets/images/capa-header.jpg');
        display: cover;
        height: 600px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 80px;
    }
    #conteudo-header{
        left:30%;
        top:45%;
        position:absolute;

    }    

    #botao-header{
        margin-top: 30px;
    }
}


@media only screen and (max-width : 1025px) {
    /* CABEÇALHO*/
    header{
        background: #FF5A00;
        width: 100%;
        height: 80px;
    }

    .logo-smiles{
        text-align: left;
        padding: 20px;
        width: 100px;
        margin-left: 50px;
    }

    #menu-top{
        display: inline-flex;
        flex-direction: row;
        float: right;
        margin-right: 100px;
        color: white;
        list-style-type: none;
        padding: 10px;
    }
    .menu-top{
        margin: 20px;
    }
    #menu-entrar{
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
    }
}

@media only screen and (max-width : 500px) {
    /* CABEÇALHO*/
    body { overflow-x: hidden; }
    header{
        background: #FF5A00;
        width: 100%;
        height: 60px;
    }

    .logo-smiles{
        text-align: left;
        width: 60px;
        margin-left: 10px;
    }

    #menu-top{
        display: inline-flex;
        flex-direction: row;
        float: right;
        margin-right: 10px;
        color: white;
        list-style-type: none;
        padding: 2px;
    }
    .menu-top{
        margin: 20px;
    }
    #menu-entrar{
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
    }
}

section{
    width: 800px;
    margin: auto;
}

.historias{
    padding-bottom: 80px;
    padding-top: 35px;
    text-align: left;
}